@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700&family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
  font-family: "Titillium Web";
  margin: 0;
  padding: 0;  
}
html{
    scroll-behavior: smooth;    
}
.inicio{
    background: linear-gradient(rgba(0,0,0.7),  rgba(0,0,0,.3)),
    url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
.inicio .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.inicio .contenido-seccion header{
    padding: 30px;
}
.inicio .contenido-seccion header nav{
    position: fixed;
    margin-left: 60px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}
.inicio .contenido-seccion header nav a{
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.inicio .contenido-seccion header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 35px #fff;
}
.inicio .contenido-seccion header .logo .color{
    color: wheat;
    font-family: "Yellowtail";
}
.inicio .contenido-seccion header .nav-bar{
    position: fixed;
    background-color: black;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}
.inicio .contenido-seccion header .nav-bar:hover{
    box-shadow: 0 0 35px wheat;
}
.inicio .contenido-seccion .info{
    padding-bottom: 130px;
}
.inicio.contenido-seccion.info h1{
font-size: 3rem;
letter-spacing: 5px;
}
.inicio .contenido-seccion .info .redes{
    margin: 20px 0;
}
.inicio .contenido-seccion .info .redes a{
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: wheat;
    border: 1px solid wheat;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin:  0 5px;
    transition: .3s;
}
.inicio .contenido-seccion .info .redes a:hover{
    color: wheat;
    background-color: gray;
    box-shadow: 0 0 20px;
}
.inicio .contenido-seccion .foto{
    position: relative;
}
.inicio .contenido-seccion .foto img{
max-width: 180px;
border-radius: 50%;
border: 5px solid white;
position: absolute;
left: 50%;
top: -100px;
transform: translateX(-50%);
}

/*SOBRE MI*/
.sobremi{
    background-color: white;
    padding: 140px 0 100px 0;
    text-align: center;
}
.sobremi .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10x;
}
.sobremi .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.sobremi .contenido-seccion .especial{
    color: royalblue;
    font-weight: bold;
    margin-top: 15px;
}
.sobremi .contenido-seccion p{
    max-width: 700px;
    margin: auto;
    color: gray;
}
.sobremi .contenido-seccion .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.sobremi .contenido-seccion .fila .col{
    width: 300px;
}
.sobremi .contenido-seccion .fila .col i{
    color: black;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    line-height: 40px;
    border-radius: 50%;
}
.sobremi .contenido-seccion .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}
/*HABILIDADES*/
.habilidades{
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0.7),  rgba(0,0,0,.3)),
    url("img/fondos.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: white;
}
.habilidades .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.habilidades .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.habilidades .contenido-seccion .fila{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.habilidades .contenido-seccion .fila .col{
    width: 47%;
    text-align: left;
}
.habilidades .contenido-seccion .fila .col .cont-barra{
    display: flex;
    align-items: center;
}
.habilidades .contenido-seccion .barra{
    display: flex;
    border: 1px solid wheat;
    padding:2px;
    border-radius: 3px;
    margin-right: 10px;
}
.habilidades .contenido-seccion .barra .e{
    background-color: gray;
    width: 20px;
    height: 30px;
    margin-right: 2px;
}

/*RESUMEN*/
.resumen{
background-color: white;
padding: 140px 0 100px 0;
text-align: center;
}
.resumen .contenido-seccion{
    max-width: 2500px;
    margin: auto;
    padding: 0 10px;
}
.resumen .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 50px;
}
.resumen .contenido-seccion .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.resumen .contenido-seccion .info .col{
    width: 45%;
}
.resumen .contenido-seccion .info .col .titulo{
    display: inline-block;
    color: royalblue;
    font-weight: bold;
    border: 2px solid black;
    padding: 10px;
}

.resumen .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}
.resumen .contenido-seccion .info .col  table .datos{
    width: 40%;
    border-bottom: 1px solid black;
}
.resumen .contenido-seccion .info .col table h4{
    margin-top: 10px;
}
.resumen .contenido-seccion .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.resumen .contenido-seccion .info .col table p{
    font-size: 14px;
}
.resumen .contenido-seccion .info .col table .promedio{
    display: blaoc;
    color: royalblue;
    margin-top: 10px;
    font-weight: bold;
}
.resumen .contenido-seccion .info .col table .descripcion{
    border-left: 1px solid black;
    padding-left: 20px;
}
/*CONTACTO*/
.contacto{
    background-color: black;
    padding: 140px 0 100px 0;
    color: white;
    text-align: center;
}
.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px 
}
.contacto .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;
}
.contacto .contenido-seccion .fila .col{
    margin-top: 50px;
}
.contacto .contenido-seccion .fila .col h2{
color: roya;
}
/*RESPONSIVE*/
@media screen and (max-width:800px){
    .habilidades .contenido-seccion .fila{
        display: block;
    }
    .habilidades.contenido-seccion .fila .col{
        width: 100%;
        text-align: center;
    }
    .habilidades .contenido-seccion .fila .col .cont-barra{
        justify-content: center;
    }
    .sobremi .contenido-seccion .fila{
        display: block;
    }
    .sobremi .contenido-seccion .fila .col{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .resumen .contenido-seccion .info{
        display: block;
    }
    .resumen .contenido-seccion .info .col{
        width: 90%;
        magin: auto;
    }
    .resumen .contenido-seccion .info .titulo{
        display: block;
        text-align: center;
 
    }
    .resumen .contenido-seccion .info .col table{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .contacto .contenido .fila {
        display: block;
    }
    .contenido-seccion
}